@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@700&family=Poppins:wght@400;500;600&display=swap');

/* font-family: 'Gelasio', serif;
font-family: 'Poppins', sans-serif; */

* {
    font-family: 'Poppins', sans-serif;
    color: #e6e6e6;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #101828;
}

body {
    display: flex;
    flex-direction: row;
}

h1 {
    font-weight: 600;
}

h3 {
    text-align: left;
    font-weight: 500;
}

p {
    text-align: left;
    font-weight: 400;
}

.inner-icon {
    width: 24px;
    height: auto;
}

.outer-icon {
    width: 46px;
    height: auto;
}

.left-container {
    width: 55%;
    height: auto;
    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 0%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-container {
    display: flex;
    width: 54%;
    height: auto;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
}

.interaction-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    align-items: center;
}
.interaction-container button {
    width: 100%;
    border: 0;
    border-radius: 7px;
    padding: 12px;
    margin-top: 5%;
    font-size: 1.1rem;
    font-weight: 500;
    color: #1a2574;
}
.email-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 1px solid #e6e6e6;
}
.email-input input {
    width: 100%;
    background-color: transparent;
    border: 0;
}
.email-input img {
    margin-right: 5%;
}

.text-container h1 {
    font-size: 1.8rem;
}
.text-container h3 {
    font-size: 1rem;
}

.footer {
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: space-between;
    align-items: center;
}
.contacto {
    display: flex;
    align-items: center;
}
.contacto img {
    margin-right: 3%;
}

.right-container{
    width: 45%;
    height: auto;
    display: grid;
    align-items: center;
    align-content: center;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #191F37;
}


.container-bienvenido{
    font-family: 'Gelasio', serif;
}

.text-bienvenido{
    font-family: 'Poppins', sans-serif;
    
}

.container-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container-icons .avatars img{
    width: 250px;
    height: 65px;
}
.rocket{
    position: absolute;
    right: 10px;
    top: 10px;
}
.rocket img{
    width: 250px;
    height: 250px;
}

.star{
    position: absolute;
    left: 52%;
    top: 0;
}
.star img{
    width: 400px;
    height: 450px;
}